[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:tcarabine/kickstart.nvim.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
